html{
    scroll-behavior: smooth;
}
body{
    overflow-x:hidden;
}
h1 {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 8%;
}
#nav {
    height: 92px;
}
#logo {
    text-align: center;
    width: 90px;
    height: 50%;
    margin-left: 5%;
    margin-top: -2%;
}
.nav-item {
    padding-left: .5%;
}
.nav-linkactive {
    color: black !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    padding-right: 2%;
    margin-right: 120px;
}
.jumbotronjumbotron-fluid {
    background-color: #1D2029;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.display-4 {
    color: white;
    width: 780px;
    margin-left: auto;
    margin-top: -20%;
}
.lead {
    color: white;
    width: 600px;
    margin-left: auto;
    font-size: x-large;
}
#tasteelogo {
    height: 400px;
    justify-content: center;
    padding-bottom: 5%;
}
.Research {
    background-color: lightslategray;
    height: 800px;
    margin-left: 5%;
    margin-right: 5%;
}
.carousel-item {
    height: 800px;
    width: 50%;
    justify-content: center;
    margin-left: 25%; 
}
#insights {
    height: auto;
    width: 500px;
    padding-top: 20%;
}
#compeditor {
    height: auto;
    width: 600px;
    padding-top: 15%;
}
#jmap {
    height: 790px;
    width: auto;
    padding-bottom: 3%;
}
.Iterations {
    background-color: lightslategray;
    height: 820px;
    margin-left: 5%;
    margin-right: 5%;
}
.ci {
    height: auto;
    width: 700px;
    padding-top: 1%;
    justify-content: center;
    margin-left: 29%;
}
#recipes {
    padding-top: 15%;
}
#wireframe {
    padding-top: 15%;
}
#home {
    padding-top: 15%;
}
.cardp {
    background-color: #1D2029;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.card-textp {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.jumbotron {
    background-color:#1D2029;
    margin-left: 5%;
    margin-right: 5%;
    height: 810px;
}
#ss {
    height: auto;
    width: 300px;
    padding-top: 1%;
    justify-content: center;
    margin-left: 41%;
}
#footer {
    background-color: lightslategray;
    height: 360px;
    margin-left: 5%;
    margin-right: 5%;
}
.form-group {
    padding-right: 30%;
    padding-left: 30%;
    color: white;
}

.button2 {
    text-align: center;
    margin-top: 2.5%;
}
.button3 {
    text-align: center;
    margin-top: 2.5%;
}